<div class="content-outer-container">

    <div class="content-inner-container">
        
        <my-sidebar [isExpanded]="sidebarExpanded" (toggleSidebar)="sidebarExpanded = !sidebarExpanded"></my-sidebar>
        
        <div class="container p-sm-1" [ngClass]="{ 'sidebarExpanded': sidebarExpanded }">
        
            <app-global-loader *ngIf="isLoading"></app-global-loader>
            
            <router-outlet></router-outlet>
            
        </div>

    </div>
    
</div>

<app-footer></app-footer>