<div style="text-align: center; ">
  <p></p>
  <h1> <span class="label label-default"> {{student?.fullName}}</span></h1>
  <p></p>
  <h3> Mentor:<span class="label label-default"> {{student?.mentorName}}</span></h3>
  <p></p>
  <h3> Program:<span class="label label-default"> {{student?.programName}}</span></h3>
  <p></p>
  <h3> Selection:<span class="label label-default"> {{student?.selectionName}}</span></h3>
  <p></p>
  <h3> Comment from admin:<span class="label label-default"> {{student?.commentByUser}}</span></h3>
  <p></p>
</div>